<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PSYCHOLOGY PROJECT</title>
     <link rel="icon" href="/static/assets/icon-Dmek6IiJ.png" />
  <script type="module" crossorigin src="/static/assets/index-G4LxfCyy.js"></script>
  <link rel="stylesheet" crossorigin href="/static/assets/index-CIKa6TRH.css">
</head>

<body>
    <div id="root"></div>

    <!-- <h1>Welcome to Your Project</h1>
    <p>This is the starting point for your web application.</p>
    <p>This is a psychology analytical tool</p> -->
</body>

</html>